<div class="container mt-4">
<form method="POST" action ='/course/store'>
  <div class="mb-3">
    <label for="title" class="form-label">title</label>
    <input type="text" class="form-control" id="title" name = 'title'>
  </div>
  <div class="mb-3">
    <label for="description" class="form-label">description</label>
    <input type="text" class="form-control" id="description" name = 'description'>
  </div>
  <div class="mb-3">
    <label for="people study" class="form-label">people study</label>
    <input type="text" class="form-control" id="people study" name = 'people_count'>
  </div>
  <div class="mb-3">
    <label for="video_id" class="form-label">video_id</label>
    <input type="text" class="form-control" id="video_id" name = 'video_id'>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
</div>