<form method="post" action="">
  <div class="mb-3 mt-4">
    <label for="search" class="form-label">search</label>
    <input type="text" class="form-control" id="search" name ='q'>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>